.header {
    background-color: #F5F5F5;
    padding: 1.6rem 0;

    &__logo {
        font-weight: bold;
        color: #65C5B4;
        text-transform: uppercase;
        font-size: 2rem;
        line-height: 2.4rem;
        text-shadow: 0 0.5rem 0.7rem lightgray;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
